*{
	margin: 0px;
	padding: 0px;
}
a{
	color: #EBE7E0;
}
a:hover{
	color: #BDB8AD;
}
.header{

	background: url('../img/pen-idea-bulb-paper.jpg') center center no-repeat fixed red;
	width: 100%;
	height: 100vh;
}
.navbar-brand{
	float: left;
}
.navbar-toggler{
	float: right;
}
.navLinksPosition{
	float:right;
}

@media screen and (max-width: 542px){
	.navbar ul{
		
		    list-style: url("https://cdn3.iconfinder.com/data/icons/142-mini-country-flags-16x16px/32/flag-united-kingdom2x.png");
	}
	
	.nav-item{
		float: left;
		display: block;
		width: 100%;
		text-align: center;
		background-color: #000;
		margin-left: 0rem !important;
		
	}

}
.nav-beauty{
	
}

.nav-beauty a{
	color: #fff;
	padding: 10px 10px;
}

.nav-beauty a:hover{
	color: #929292;
	//text-decoration: underline;
	border: 3px solid #929292;

}
.sectionPaddingMargin{
	padding-top: 30px;
	padding-bottom: 50px;
}

#aboutMe{
	background-color: #C6D4E1;
	
	
}

.sectionHeading{
	text-align: center;
	font-size: 2.5rem;
	color: #44749D;
	font-weight: 500;
	margin-bottom: 1rem;
}
#projectsDone{
	background-color: #EBE7E0;
}


.projectList{
	text-align: center;
	list-style: none;
	
}
.projectItem{
	display:inline;
	padding-left: 1rem;
}

.projectItem:hover{
	outline: 3px solid #C6D4E1;
}

.valueOfprojectItem{
	color: #EBE7E0;
	font-size: 0.9rem;
	background-color: #BDB8AD;
	padding: 0.1rem 0.6rem;
	height: 1.5rem;
	border-radius: 50%;

}
#testimonials{
	background-color: #7F98AD;
	
}
.footer{
	background-color: #313131;
	background-attachment:local;
	height: 140px;
	color: #fff !important;
	text-align: center;
}

.marginTen{
	margin: 10px;
}



/* Color classes */ 
.red{
	color: red;
}

.brown{
	color: #6F4E37;
}
