label{
	margin-right: 0.5rem;
}

table{
	
    
}
thead td{
	color: #000;
	font-weight: bold;
	
}

td{
	padding: 0.5rem;
}
tbody, tr{
	padding: 8px;
    text-align: left;
	padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.button{
	/*font-size: 1rem;
	color: #fff;
	font-weight: 500;
	text-transform: capitalize;
	border-radius: 10px;*/
}

.read{
	/*background-color: grey;
	border: 1px solid black;*/
	
}

.update{
	/*background-color: green;
	border: 1px solid green;*/
}

.delete{
	/*background-color: red;
	border: 1px solid red;*/
}


#details{
	border: 1px solid grey;
	height: auto;
	width: 15rem;
}

.visible{
	visibility: visible;
}
.hide{
	visibility: hidden;
	border: 0px;
    margin: 0px;
    padding: 0px;
    width: 0px;
}